.input{
    margin: 3rem;
}

.input input{
    line-height: 2.5rem;
    width: 16rem;
}

.country-list{
    width: 100%;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
}

.search-part{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
 .search-panel{
    width: 40rem;
    margin-left: 5rem;
}
.region-select{
    width: 20rem;
    margin-right: 5rem;
}
.counties{
    margin: 2rem;
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    gap: 3rem;
    overflow-y: auto;
}

.img{
    
}