@import '~antd/dist/antd.css';

html{
  /* 1rem = 10px */
  font-family: 'Nunito Sans';
  font-size: 62.5%; 
}

html body #root .App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 6rem 1fr;
}

.header{
  padding: 3rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}
.main{
  display: flex;
  overflow: hidden;
}
